.selectbox-full{
    height: 45px;
    border-radius: 10px;
    padding: 2px;
}
.list-wraper .btn-group{
    display: block !important;
}
.list-wraper .btn-group .btn{
width: 100%;
}
.title{
    color: #fff;
}
.btn-group{
    margin-left: -16px !important;
}

input[type="radio"]{
    visibility:hidden;
}
input:checked+label{
    background-color: #6200EA !important;
    color:  #fff !important;
}

.btn-group .btn-outline-primary{
    min-width: 200px;
    margin-right: 20px;
    border-radius: 10px !important;
    border-color: #6200EA !important;
    color:  #6200EA;
}
.btn-group .btn-outline-primary:hover{
    background-color: #6200EA !important;
    color:  #fff;
}

